@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@font-face {
  font-family: "TTNorms";
  // src: url(../TT-Norms-Fonts/TTNorms-Black.otf);
  // src: url(../TT-Norms-Fonts/TTNorms-BlackItalic.otf);
  src: url(../TT-Norms-Fonts/TTNorms-Bold.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-BoldItalic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-ExtraBold.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-ExtraBoldItalic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-ExtraLight.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-ExtraLightItalic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-Heavy.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-HeavyItalic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-Italic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-Light.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-LightItalic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-Medium.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-MediumItalic.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-Regular.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-Thin.otf);
  //   src: url(../TT-Norms-Fonts/TTNorms-ThinItalic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .container {
    border: 2px solid red;
    header {
    }
    main {
      .section_ten {
        width: 100%;
        background: url("../img/section_ten background.png");
        background-color: #34343f;
        background-repeat: no-repeat;
        background-position: center center;
        mix-blend-mode: normal;
        max-height: 1034px;
        h2 {
          padding-top: 50px;
          font-family: "TenorSans";
          font-size: 50px;
          line-height: 59px;
          text-align: center;
          text-transform: uppercase;
          color: #ce946b;
          span {
            color: #ffffff;
          }
        }
        .section_ten_item {
          display: flex;
          // justify-content: center;
          align-items: center;

          .section_ten_item_child {
            &:first-of-type {
              padding: 72px 73px;
              background-color: #ffffff;
              margin-left: 471px;
              border-radius: 8px;
              position: relative;
              &::before {
                position: absolute;
                content: url("/./assets/img/ribbon9.png");
                top: -110px;
                left: -170px;
              }
              &::after {
                position: absolute;
                content: url("/./assets/img/flower.png");
                top: -50px;
                right: 40px;
              }
              h3 {
                font-family: "TTNorms";
                font-size: 30px;
                line-height: 32px;
                text-align: center;
                color: #34343f;
                position: relative;
                &::before {
                  position: absolute;
                  content: url("/./assets/img/flower@4x.png");
                  top: 10px;
                  right: -120px;
                }
              }
              p {
                font-family: "TTNorms";
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #34343f;
                margin-top: 21px;
              }
              .section_ten_item_child_number {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                background: #ffffff;
                border: 1px solid rgba(250, 250, 250, 0.165952);
                box-shadow: inset 0px 1px 4px rgba(193, 203, 202, 0.212751);
                border-radius: 7px;
                padding: 19px;
                width: 330px;
                max-width: 330px;
                gap: 36px;
                margin-top: 40px;
                span {
                  padding: 8px 9px;
                  background: linear-gradient(
                    131.39deg,
                    #ebbe9d 13.55%,
                    #dfab86 80.5%
                  );
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                input {
                  font-family: "TTNorms";
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 1px;
                  color: #9d9db0;
                  outline: none;
                  border: none;
                }
              }
              button {
                background: linear-gradient(
                  314.24deg,
                  #c88c61 25.11%,
                  #ebbe9c 88.64%
                );
                border: 1px solid #ebbe9c;
                box-shadow: inset 0px 0px 12px #e5b79a;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                gap: 17px;
                border-radius: 9px;
                font-family: "TTNorms";
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #ffffff;
                padding: 40px 57px 40px 54px;
                cursor: pointer;
                margin-top: 17px;
                transition: all 0.4s;
                span {
                  svg {
                    path {
                      fil {
                        transition: all 0.4s;
                      }
                    }
                  }
                }
                &:hover {
                  background: transparent;
                  color: #e5b79a;
                  span {
                    svg {
                      path {
                        fill: #e5b79a;
                      }
                    }
                  }
                }
              }
              .section_ten_item_child_ok {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                input {
                  background: #ecd4c1;
                  border-radius: 2px;
                  cursor: pointer;
                }
                p {
                  font-family: "TTNorms";
                  font-size: 14px;
                  line-height: 20px;
                  color: #c3c3c3;
                  span {
                    color: #e9bc99;
                  }
                }
              }
            }
            &:last-of-type {
              position: relative;

              filter: drop-shadow(0px 2px 128px rgba(232, 186, 151, 0.409924));
              width: 695px;
              height: 1050px;

              img {
                top: 0;
                right: 110px;
                position: absolute;

                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
      .section_eleven {
        h2 {
          font-family: "TenorSans";
          font-size: 50px;
          line-height: 59px;
          text-align: center;
          padding-top: 175px;
          color: #363348;
          span {
            color: #ce946b;
          }
        }
        .section_eleven_item {
          display: flex;
          justify-content: center;
          .section_eleven_item_child {
            &:first-of-type {
              width: 1119px;
              height: 791px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &:last-of-type {
              p {
                font-family: "TT Norms";
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 31px;
                color: #34343f;
                margin-top: 114px;
                span {
                  color: black;
                  font-weight: bold;
                }
                // margin-top: 114px;
              }
              button {
                background: linear-gradient(
                  314.24deg,
                  #c88c61 25.11%,
                  #ebbe9c 88.64%
                );
                border: 1px solid #ebbe9c;
                box-shadow: inset 0px 0px 12px #e5b79a;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: auto;
                gap: 34px;
                border-radius: 9px;
                font-family: "TTNorms";
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #ffffff;
                padding: 40px 57px 36px 48px;
                cursor: pointer;
                margin-top: 27px;
                transition: all 0.4s;
                span {
                  svg {
                    path {
                      fil {
                        transition: all 0.4s;
                      }
                    }
                  }
                }
                &:hover {
                  background: transparent;
                  color: #e5b79a;
                  span {
                    svg {
                      path {
                        fill: #e5b79a;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .section_twelve {
        h2 {
          padding-top: 123px;
          font-family: "TenorSans";
          font-size: 50px;
          line-height: 59px;
          text-align: center;
          text-transform: uppercase;
          color: #34343f;
          span {
            color: #ce946b;
          }
        }
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              display: flex;
              justify-content: center;
              background: url("../img/Oval.png");
              background-repeat: no-repeat;
              background-position: center center;
              &:first-of-type {
                .swiper-slide_item {
                  &:nth-of-type(1) {
                    .swiper-slide_item_dislike {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 5px;
                      margin-top: 107px;
                      span {
                        font-family: "TTNorms";
                        font-size: 50px;
                        line-height: 59px;
                        text-align: center;
                        background: linear-gradient(
                          39.05deg,
                          #7d7d7d -18.56%,
                          #ceced2 98.14%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                      }
                    }
                    .swiper-slide_item_row {
                      .swiper-slide_item_row_col {
                        margin-top: 28px;
                        p {
                          font-family: "TT Norms";
                          font-style: normal;
                          font-weight: 400;
                          font-size: 16px;
                          line-height: 24px;
                          color: #34343f;
                          span {
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                  &:nth-of-type(2) {
                    margin-top: 48px;
                    position: relative;
                    .swiper-slide_item_img {
                      padding: 20px;
                      width: 566px;
                      height: 648px;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
                    button {
                      position: absolute;
                      top: 72%;
                      left: 80px;
                      background: linear-gradient(
                        314.24deg,
                        #c88c61 25.11%,
                        #ebbe9c 88.64%
                      );
                      border: 1px solid #ebbe9c;
                      box-shadow: inset 0px 0px 12px #e5b79a;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: auto;
                      gap: 19px;
                      border-radius: 9px;
                      font-family: "TTNorms";
                      font-size: 14px;
                      line-height: 16px;
                      letter-spacing: 1px;
                      text-transform: uppercase;
                      color: #ffffff;
                      padding: 43px 137px 42px 137px;
                      // width: 436px;
                      // max-width: 436px;
                      // height: 111px;
                      // max-height: 111px;
                      cursor: pointer;
                      margin-top: 27px;
                      transition: all 0.4s;
                      span {
                        svg {
                          path {
                            fil {
                              transition: all 0.4s;
                            }
                          }
                        }
                      }
                      &:hover {
                        background: transparent;
                        color: #e5b79a;
                        span {
                          svg {
                            path {
                              fill: #e5b79a;
                            }
                          }
                        }
                      }
                    }
                    p {
                      font-family: "TTNorms";
                      font-size: 16px;
                      line-height: 31px;
                      text-align: center;
                      color: #363348;
                      // margin-top: 26px;
                    }
                  }
                  &:nth-of-type(3) {
                    .swiper-slide_item_like {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 5px;
                      margin-top: 107px;
                      span {
                        font-family: "TTNorms";
                        font-size: 50px;
                        line-height: 59px;
                        text-align: center;
                        background: linear-gradient(
                          39.05deg,
                          #7d7d7d -18.56%,
                          #ceced2 98.14%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                      }
                    }
                    .swiper-slide_item_row {
                      .swiper-slide_item_row_col {
                        margin-top: 28px;
                        p {
                          font-family: "TT Norms";
                          font-style: normal;
                          font-weight: 400;
                          font-size: 16px;
                          line-height: 24px;
                          color: #34343f;
                          span {
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                }
              }
              &:last-of-type {
                .swiper-slide_item {
                  &:nth-of-type(1) {
                    .swiper-slide_item_like {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 5px;
                      margin-top: 107px;
                      span {
                        font-family: "TTNorms";
                        font-size: 50px;
                        line-height: 59px;
                        text-align: center;
                        background: linear-gradient(
                          39.05deg,
                          #7d7d7d -18.56%,
                          #ceced2 98.14%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                      }
                    }
                    .swiper-slide_item_row {
                      .swiper-slide_item_row_col {
                        margin-top: 28px;
                        p {
                          font-family: "TT Norms";
                          font-style: normal;
                          font-weight: 400;
                          font-size: 16px;
                          line-height: 24px;
                          color: #34343f;
                          span {
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                  &:nth-of-type(2) {
                    margin-top: 48px;
                    .swiper-slide_item_img {
                      padding: 20px;
                      width: 566px;
                      height: 648px;
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                    }
                    button {
                      background: linear-gradient(
                        314.24deg,
                        #c88c61 25.11%,
                        #ebbe9c 88.64%
                      );
                      border: 1px solid #ebbe9c;
                      box-shadow: inset 0px 0px 12px #e5b79a;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      margin: auto;
                      gap: 19px;
                      border-radius: 9px;
                      font-family: "TTNorms";
                      font-size: 14px;
                      line-height: 16px;
                      letter-spacing: 1px;
                      text-transform: uppercase;
                      color: #ffffff;
                      // padding: 137px 57px 44px 137px;
                      width: 436px;
                      max-width: 436px;
                      height: 111px;
                      max-height: 111px;
                      cursor: pointer;
                      margin-top: 27px;
                      transition: all 0.4s;
                      span {
                        svg {
                          path {
                            fil {
                              transition: all 0.4s;
                            }
                          }
                        }
                      }
                      &:hover {
                        background: transparent;
                        color: #e5b79a;
                        span {
                          svg {
                            path {
                              fill: #e5b79a;
                            }
                          }
                        }
                      }
                    }
                    p {
                      font-family: "TTNorms";
                      font-size: 16px;
                      line-height: 31px;
                      text-align: center;
                      color: #363348;
                      margin-top: 26px;
                    }
                  }
                  &:nth-of-type(3) {
                    .swiper-slide_item_dislike {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 5px;
                      margin-top: 107px;
                      span {
                        font-family: "TTNorms";
                        font-size: 50px;
                        line-height: 59px;
                        text-align: center;
                        background: linear-gradient(
                          39.05deg,
                          #7d7d7d -18.56%,
                          #ceced2 98.14%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                      }
                    }
                    .swiper-slide_item_row {
                      .swiper-slide_item_row_col {
                        margin-top: 28px;
                        p {
                          font-family: "TT Norms";
                          font-style: normal;
                          font-weight: 400;
                          font-size: 16px;
                          line-height: 24px;
                          color: #34343f;
                          span {
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .swiper-button-prev {
            border: 1px solid #d1d1d3;
            transform: matrix(-1, 0, 0, -1, -1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
            transition: all 0.4s;
            &:hover {
              border: 1px solid #d3a17c;
              &::after {
                color: #d3a17c;
              }
            }
            left: var(--swiper-navigation-sides-offset, 320px);
            &::after {
              font-size: var(--swiper-navigation);
              color: #d1d1d3;
              transition: all 0.4s;
            }
          }
          .swiper-button-next {
            border: 1px solid #d1d1d3;
            transform: matrix(-1, 0, 0, -1, -1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 75px;
            height: 75px;
            max-width: 75px;
            max-height: 75px;
            transition: all 0.4s;
            &:hover {
              border: 1px solid #d3a17c;
              &::after {
                color: #d3a17c;
              }
            }
            right: var(--swiper-navigation-sides-offset, 320px);
            &::after {
              font-size: var(--swiper-navigation);
              color: #d1d1d3;
              transition: all 0.4s;
            }
          }
        }
      }
      .section_thirteen {
        position: relative;
        &::after {
          position: absolute;
          content: url("/./assets/img/brush@4x.png");
          top: -35%;
          left: 0;
        }
        &::before {
          position: absolute;
          content: url("/./assets/img/buttle\ 2.png");
          top: -17%;
          right: 0;
        }
        h2 {
          font-family: "TenorSans";
          font-size: 50px;
          line-height: 59px;
          text-align: center;
          text-transform: uppercase;
          color: #34343f;
          margin-top: 15px;
          position: relative;
          &::after {
            position: absolute;
            content: url("/./assets/img/bg.png");
            top: 120%;
            left: 15%;
          }
          span {
            color: #ce946b;
          }
        }
        .section_thirteen_item {
          // display: flex;
          // flex-direction: column;
          .section_thirteen_item_child {
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: 100%;
              height: 0.9px;
              background-color: #dddddd;
              top: 120%;
            }
            max-width: 800px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:first-of-type {
              margin-top: 88px;
            }
            margin-top: 31px;
            p {
              font-family: "TTNorms";
              font-size: 18px;
              line-height: 29px;
              color: #34343f;
            }
            span {
              background: linear-gradient(
                138.29deg,
                #f8e6e2 19.16%,
                #e9c9c2 81.84%
              );
              box-shadow: 0px 5px 11px rgba(240, 216, 211, 0.800395);
              border-radius: 50%;
              padding: 16px 13px 14px 13px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        button {
          background: linear-gradient(
            314.24deg,
            #c88c61 25.11%,
            #ebbe9c 88.64%
          );
          border: 1px solid #ebbe9c;
          box-shadow: inset 0px 0px 12px #e5b79a;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          gap: 22px;
          border-radius: 9px;
          font-family: "TTNorms";
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #ffffff;
          padding: 51px 77px 44px 94px;
          cursor: pointer;
          margin-top: 106px;
          transition: all 0.4s;
          span {
            svg {
              path {
                fil {
                  transition: all 0.4s;
                }
              }
            }
          }
          &:hover {
            background: transparent;
            color: #e5b79a;
            span {
              svg {
                path {
                  fill: #e5b79a;
                }
              }
            }
          }
        }
      }
      .section_fourteen {
        position: relative;
        &::before {
          position: absolute;
          content: url("/./assets/img/mirror@4x.png");
          top: -150px;
          left: 0;
        }
        ::after{
          position: absolute;
          content: url("/./assets/img/ribbon 4xxx.png");
          top: -35%;
          right: 0;
        }
        h2 {
          font-family: "TenorSans";
          font-size: 50px;
          line-height: 59px;
          text-align: center;
          color: #34343f;
          margin-top: 209px;
          span {
            color: #ce946b;
          }
        }
        .section_fourteen_item {
          .section_fourteen_item_button {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 44px;
            gap: 46px;
            cursor: pointer;
            .section_fourteen_item_button_child {
              position: relative;
              font-family: "TTNorms";
              font-size: 14px;
              line-height: 16px;
              color: #c1c1c1;
              transition: all 0.4s;
              &:hover {
                color: #ce946b;
                &::before {
                  background-color: #ce946b;
                }
              }
              &:last-of-type {
                &::before {
                  left: -20px;
                }
              }
              &::before {
                position: absolute;
                content: "";
                width: 115%;
                height: 1.5px;
                background-color: #c1c1c1;
                top: 250%;
                transition: all 0.4s;
              }
            }
          }
          .section_fourteen_item_main {
            display: flex;
            gap: 57px;
            margin-left: 377px;
            .section_fourteen_item_main_video {
              margin-top: 129px;
              iframe {
                width: 568px;
                height: 364px;
              }
            }
            .section_fourteen_item_main_carousel {
              margin-top: 76px;
              width: 1003px;
              height: 651px;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
      .section_fifteen {
        width: 100%;
        background: url("../img/Group\ 85\ 256451.png");
        background-color: #34343f;
        background-repeat: no-repeat;
        background-position: center right;
        mix-blend-mode: normal;
        margin-top: 226px;
        max-height: 1000px;
        height: 1000px;
        h2 {
          font-family: "TenorSans";
          font-size: 50px;
          line-height: 59px;
          text-align: center;
          text-transform: uppercase;
          color: #ce946b;
          padding-top: 73px;
          span {
            color: #ffffff;
          }
        }
        .section_fifteen_item {
          display: flex;
          margin-top: 91px;
          .section_fifteen_item_child {
            border-radius: 8px;
            margin-left: 423px;
            padding: 72px 73px;
            background-color: #ffffff;
            position: relative;
            &::after {
              position: absolute;
              content: url("/./assets/img/ribbon9.png");
              bottom: -120px;
              left: -230px;
              transform: matrix(-1, 0, 0, 1, 0, 0);
            }
            &::before {
              position: absolute;
              content: url("/./assets/img/flower@4x\ 222.png");
              bottom: -30px;
              right: 0px;
            }
            h3 {
              font-family: "TTNorms";
              font-size: 30px;
              line-height: 32px;
              text-align: center;
              color: #34343f;
              position: relative;
              &::before {
                position: absolute;
                content: url("/./assets/img/flower@4x 22.png");
                top: -140px;
                left: 0;
                z-index: 5;
              }
            }
            p {
              font-family: "TTNorms";
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              color: #34343f;
              margin-top: 21px;
            }
            .section_fifteen_item_child_number {
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              background: #ffffff;
              border: 1px solid rgba(250, 250, 250, 0.165952);
              box-shadow: inset 0px 1px 4px rgba(193, 203, 202, 0.212751);
              border-radius: 7px;
              padding: 19px;
              width: 330px;
              max-width: 330px;
              gap: 36px;
              margin-top: 40px;
              span {
                padding: 8px 9px;
                background: linear-gradient(
                  131.39deg,
                  #ebbe9d 13.55%,
                  #dfab86 80.5%
                );
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              input {
                font-family: "TTNorms";
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 1px;
                color: #9d9db0;
                outline: none;
                border: none;
              }
            }
            button {
              background: linear-gradient(
                314.24deg,
                #c88c61 25.11%,
                #ebbe9c 88.64%
              );
              border: 1px solid #ebbe9c;
              box-shadow: inset 0px 0px 12px #e5b79a;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: auto;
              gap: 8px;
              border-radius: 9px;
              font-family: "TTNorms";
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 1px;
              text-transform: uppercase;
              color: #ffffff;
              padding: 40px 57px 36px 54px;
              cursor: pointer;
              margin-top: 17px;
              transition: all 0.4s;
              span {
                svg {
                  path {
                    fil {
                      transition: all 0.4s;
                    }
                  }
                }
              }
              &:hover {
                background: transparent;
                color: #e5b79a;
                span {
                  svg {
                    path {
                      fill: #e5b79a;
                    }
                  }
                }
              }
            }
            .section_fifteen_item_child_ok {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 10px;
              input {
                background: #ecd4c1;
                border-radius: 2px;
                cursor: pointer;
              }
              p {
                font-family: "TTNorms";
                font-size: 14px;
                line-height: 20px;
                color: #c3c3c3;
                span {
                  color: #e9bc99;
                }
              }
            }
            // &:last-of-type {
            //   filter: drop-shadow(0px 2px 128px rgba(232, 186, 151, 0.409924));
            //   width: 1478px;
            //   height: 912px;
            //   position: relative;
            //   img {
            //     position: absolute;
            //     top: 0;
            //     left: -180px;
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            //   }
            // }
          }
        }
      }
    }
    footer {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 149px;
      align-items: center;
      padding-top: 122px;
      padding-bottom: 92px;
      .footer_item {
        &:nth-of-type(1) {
          .footer_item_child {
            &:first-of-type {
              width: 170px;
              height: 54px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            &:last-of-type {
              margin-top: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 18px;
              span {
                background: linear-gradient(
                  138.29deg,
                  #f8e6e2 19.16%,
                  #e9c9c2 81.84%
                );
                box-shadow: 0px 2px 4px #f0d8d3;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 65px;
                max-width: 65px;
                height: 65px;
                max-height: 65px;
              }
            }
            .number {
              margin-left: 28px;
              input {
                font-family: "TTNorms";
                font-size: 27px;
                line-height: 26px;
                color: #34343f;
                outline: none;
                border: none;
              }
              h6 {
                font-family: "TTNorms";
                font-size: 14px;
                line-height: 26px;
                color: #ce946b;
                display: flex;
                align-items: center;
                margin-top: 4px;
              }
            }
          }
        }
        &:nth-of-type(2) {
          ul {
            li {
              list-style-type: none;
              a {
                text-decoration: none;
                font-family: "TTNorms";
                font-size: 16px;
                line-height: 40px;
                text-transform: uppercase;
                color: #34343f;
                transition: all 0.4s;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  width: 0%;
                  height: 2px;
                  transition: all 0.4s;
                  top: 120%;
                  background-color: #e5b093;
                }
                &:hover {
                  &::before {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
        &:nth-of-type(3) {
          ul {
            li {
              list-style-type: none;
              a {
                text-decoration: none;
                font-family: "TTNorms";
                font-size: 16px;
                line-height: 40px;
                text-transform: uppercase;
                color: #34343f;
                transition: all 0.4s;
                position: relative;
                &::before {
                  content: "";
                  position: absolute;
                  width: 0%;
                  height: 2px;
                  transition: all 0.4s;
                  top: 120%;
                  background-color: #e5b093;
                }
                &:hover {
                  &::before {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer_politika {
      width: 100%;
      padding: 11px 0;
      position: relative;
      &::before {
        content: "";
        background: linear-gradient(
          320.53deg,
          #ffffff 42.41%,
          #fbfbfb 64.41%,
          #f5f7f7 80.73%,
          #dfe3e5 106.48%
        );
        transform: matrix(1, 0, 0, -1, 0, 0);
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 0;
        left: 0;
      }
      h5 {
        font-family: "TTNorms";
        font-size: 14px;
        line-height: 34px;
        text-align: center;
        color: #a5a5b3;
      }
    }
    @media screen and (min-width: 1920px) {
      width: 1920px;
      margin: auto;
    }
  }
}
