@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@font-face {
  font-family: "TTNorms";
  src: url(../TT-Norms-Fonts/TTNorms-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* .container {
  border: 2px solid red;
}
* .container main .section_ten {
  width: 100%;
  background: url("../img/section_ten background.png");
  background-color: #34343f;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: normal;
  max-height: 1034px;
}
* .container main .section_ten h2 {
  padding-top: 50px;
  font-family: "TenorSans";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #ce946b;
}
* .container main .section_ten h2 span {
  color: #ffffff;
}
* .container main .section_ten .section_ten_item {
  display: flex;
  align-items: center;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type {
  padding: 72px 73px;
  background-color: #ffffff;
  margin-left: 471px;
  border-radius: 8px;
  position: relative;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type::before {
  position: absolute;
  content: url("/./assets/img/ribbon9.png");
  top: -110px;
  left: -170px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type::after {
  position: absolute;
  content: url("/./assets/img/flower.png");
  top: -50px;
  right: 40px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type h3 {
  font-family: "TTNorms";
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #34343f;
  position: relative;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type h3::before {
  position: absolute;
  content: url("/./assets/img/flower@4x.png");
  top: 10px;
  right: -120px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type p {
  font-family: "TTNorms";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #34343f;
  margin-top: 21px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #ffffff;
  border: 1px solid rgba(250, 250, 250, 0.165952);
  box-shadow: inset 0px 1px 4px rgba(193, 203, 202, 0.212751);
  border-radius: 7px;
  padding: 19px;
  width: 330px;
  max-width: 330px;
  gap: 36px;
  margin-top: 40px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_number span {
  padding: 8px 9px;
  background: linear-gradient(131.39deg, #ebbe9d 13.55%, #dfab86 80.5%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_number input {
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #9d9db0;
  outline: none;
  border: none;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type button {
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border: 1px solid #ebbe9c;
  box-shadow: inset 0px 0px 12px #e5b79a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 17px;
  border-radius: 9px;
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 40px 57px 40px 54px;
  cursor: pointer;
  margin-top: 17px;
  transition: all 0.4s;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type button span svg path fil {
  transition: all 0.4s;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type button:hover {
  background: transparent;
  color: #e5b79a;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type button:hover span svg path {
  fill: #e5b79a;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_ok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_ok input {
  background: #ecd4c1;
  border-radius: 2px;
  cursor: pointer;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_ok p {
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 20px;
  color: #c3c3c3;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:first-of-type .section_ten_item_child_ok p span {
  color: #e9bc99;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:last-of-type {
  position: relative;
  filter: drop-shadow(0px 2px 128px rgba(232, 186, 151, 0.409924));
  width: 695px;
  height: 1050px;
}
* .container main .section_ten .section_ten_item .section_ten_item_child:last-of-type img {
  top: 0;
  right: 110px;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* .container main .section_eleven h2 {
  font-family: "TenorSans";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  padding-top: 175px;
  color: #363348;
}
* .container main .section_eleven h2 span {
  color: #ce946b;
}
* .container main .section_eleven .section_eleven_item {
  display: flex;
  justify-content: center;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:first-of-type {
  width: 1119px;
  height: 791px;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:first-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:last-of-type p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  color: #34343f;
  margin-top: 114px;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:last-of-type p span {
  color: black;
  font-weight: bold;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:last-of-type button {
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border: 1px solid #ebbe9c;
  box-shadow: inset 0px 0px 12px #e5b79a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 34px;
  border-radius: 9px;
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 40px 57px 36px 48px;
  cursor: pointer;
  margin-top: 27px;
  transition: all 0.4s;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:last-of-type button span svg path fil {
  transition: all 0.4s;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:last-of-type button:hover {
  background: transparent;
  color: #e5b79a;
}
* .container main .section_eleven .section_eleven_item .section_eleven_item_child:last-of-type button:hover span svg path {
  fill: #e5b79a;
}
* .container main .section_twelve h2 {
  padding-top: 123px;
  font-family: "TenorSans";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #34343f;
}
* .container main .section_twelve h2 span {
  color: #ce946b;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  background: url("../img/Oval.png");
  background-repeat: no-repeat;
  background-position: center center;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_dislike {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 107px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_dislike span {
  font-family: "TTNorms";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  background: linear-gradient(39.05deg, #7d7d7d -18.56%, #ceced2 98.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_row .swiper-slide_item_row_col {
  margin-top: 28px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_row .swiper-slide_item_row_col p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #34343f;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_row .swiper-slide_item_row_col p span {
  font-weight: bold;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) {
  margin-top: 48px;
  position: relative;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) .swiper-slide_item_img {
  padding: 20px;
  width: 566px;
  height: 648px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) .swiper-slide_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) button {
  position: absolute;
  top: 72%;
  left: 80px;
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border: 1px solid #ebbe9c;
  box-shadow: inset 0px 0px 12px #e5b79a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 19px;
  border-radius: 9px;
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 43px 137px 42px 137px;
  cursor: pointer;
  margin-top: 27px;
  transition: all 0.4s;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) button span svg path fil {
  transition: all 0.4s;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) button:hover {
  background: transparent;
  color: #e5b79a;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) button:hover span svg path {
  fill: #e5b79a;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(2) p {
  font-family: "TTNorms";
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #363348;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 107px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_like span {
  font-family: "TTNorms";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  background: linear-gradient(39.05deg, #7d7d7d -18.56%, #ceced2 98.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_row .swiper-slide_item_row_col {
  margin-top: 28px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_row .swiper-slide_item_row_col p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #34343f;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:first-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_row .swiper-slide_item_row_col p span {
  font-weight: bold;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 107px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_like span {
  font-family: "TTNorms";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  background: linear-gradient(39.05deg, #7d7d7d -18.56%, #ceced2 98.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_row .swiper-slide_item_row_col {
  margin-top: 28px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_row .swiper-slide_item_row_col p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #34343f;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(1) .swiper-slide_item_row .swiper-slide_item_row_col p span {
  font-weight: bold;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) {
  margin-top: 48px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) .swiper-slide_item_img {
  padding: 20px;
  width: 566px;
  height: 648px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) .swiper-slide_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) button {
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border: 1px solid #ebbe9c;
  box-shadow: inset 0px 0px 12px #e5b79a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 19px;
  border-radius: 9px;
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  width: 436px;
  max-width: 436px;
  height: 111px;
  max-height: 111px;
  cursor: pointer;
  margin-top: 27px;
  transition: all 0.4s;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) button span svg path fil {
  transition: all 0.4s;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) button:hover {
  background: transparent;
  color: #e5b79a;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) button:hover span svg path {
  fill: #e5b79a;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(2) p {
  font-family: "TTNorms";
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  color: #363348;
  margin-top: 26px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_dislike {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 107px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_dislike span {
  font-family: "TTNorms";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  background: linear-gradient(39.05deg, #7d7d7d -18.56%, #ceced2 98.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_row .swiper-slide_item_row_col {
  margin-top: 28px;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_row .swiper-slide_item_row_col p {
  font-family: "TT Norms";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #34343f;
}
* .container main .section_twelve .swiper .swiper-wrapper .swiper-slide:last-of-type .swiper-slide_item:nth-of-type(3) .swiper-slide_item_row .swiper-slide_item_row_col p span {
  font-weight: bold;
}
* .container main .section_twelve .swiper .swiper-button-prev {
  border: 1px solid #d1d1d3;
  transform: matrix(-1, 0, 0, -1, -1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  transition: all 0.4s;
  left: var(--swiper-navigation-sides-offset, 320px);
}
* .container main .section_twelve .swiper .swiper-button-prev:hover {
  border: 1px solid #d3a17c;
}
* .container main .section_twelve .swiper .swiper-button-prev:hover::after {
  color: #d3a17c;
}
* .container main .section_twelve .swiper .swiper-button-prev::after {
  font-size: var(--swiper-navigation);
  color: #d1d1d3;
  transition: all 0.4s;
}
* .container main .section_twelve .swiper .swiper-button-next {
  border: 1px solid #d1d1d3;
  transform: matrix(-1, 0, 0, -1, -1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  max-width: 75px;
  max-height: 75px;
  transition: all 0.4s;
  right: var(--swiper-navigation-sides-offset, 320px);
}
* .container main .section_twelve .swiper .swiper-button-next:hover {
  border: 1px solid #d3a17c;
}
* .container main .section_twelve .swiper .swiper-button-next:hover::after {
  color: #d3a17c;
}
* .container main .section_twelve .swiper .swiper-button-next::after {
  font-size: var(--swiper-navigation);
  color: #d1d1d3;
  transition: all 0.4s;
}
* .container main .section_thirteen {
  position: relative;
}
* .container main .section_thirteen::after {
  position: absolute;
  content: url("/./assets/img/brush@4x.png");
  top: -35%;
  left: 0;
}
* .container main .section_thirteen::before {
  position: absolute;
  content: url("/./assets/img/buttle 2.png");
  top: -17%;
  right: 0;
}
* .container main .section_thirteen h2 {
  font-family: "TenorSans";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #34343f;
  margin-top: 15px;
  position: relative;
}
* .container main .section_thirteen h2::after {
  position: absolute;
  content: url("/./assets/img/bg.png");
  top: 120%;
  left: 15%;
}
* .container main .section_thirteen h2 span {
  color: #ce946b;
}
* .container main .section_thirteen .section_thirteen_item .section_thirteen_item_child {
  position: relative;
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 31px;
}
* .container main .section_thirteen .section_thirteen_item .section_thirteen_item_child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.9px;
  background-color: #dddddd;
  top: 120%;
}
* .container main .section_thirteen .section_thirteen_item .section_thirteen_item_child:first-of-type {
  margin-top: 88px;
}
* .container main .section_thirteen .section_thirteen_item .section_thirteen_item_child p {
  font-family: "TTNorms";
  font-size: 18px;
  line-height: 29px;
  color: #34343f;
}
* .container main .section_thirteen .section_thirteen_item .section_thirteen_item_child span {
  background: linear-gradient(138.29deg, #f8e6e2 19.16%, #e9c9c2 81.84%);
  box-shadow: 0px 5px 11px rgba(240, 216, 211, 0.800395);
  border-radius: 50%;
  padding: 16px 13px 14px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .container main .section_thirteen button {
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border: 1px solid #ebbe9c;
  box-shadow: inset 0px 0px 12px #e5b79a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 22px;
  border-radius: 9px;
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 51px 77px 44px 94px;
  cursor: pointer;
  margin-top: 106px;
  transition: all 0.4s;
}
* .container main .section_thirteen button span svg path fil {
  transition: all 0.4s;
}
* .container main .section_thirteen button:hover {
  background: transparent;
  color: #e5b79a;
}
* .container main .section_thirteen button:hover span svg path {
  fill: #e5b79a;
}
* .container main .section_fourteen h2 {
  font-family: "TenorSans";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #34343f;
  margin-top: 209px;
}
* .container main .section_fourteen h2 span {
  color: #ce946b;
}
* .container main .section_fifteen {
  width: 100%;
  background: url("../img/section_fifteen img.png");
  background-color: #34343f;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: normal;
  margin-top: 226px;
}
* .container main .section_fifteen h2 {
  font-family: "TenorSans";
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
  color: #ce946b;
  padding-top: 73px;
}
* .container main .section_fifteen h2 span {
  color: #ffffff;
}
* .container main .section_fifteen .section_fifteen_item {
  display: flex;
  justify-content: center;
  align-items: center;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type {
  z-index: 3;
  margin-left: 423px;
  padding: 72px 73px;
  background-color: #ffffff;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type h3 {
  font-family: "TTNorms";
  font-size: 30px;
  line-height: 32px;
  text-align: center;
  color: #34343f;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type p {
  font-family: "TTNorms";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #34343f;
  margin-top: 21px;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: #ffffff;
  border: 1px solid rgba(250, 250, 250, 0.165952);
  box-shadow: inset 0px 1px 4px rgba(193, 203, 202, 0.212751);
  border-radius: 7px;
  padding: 19px;
  width: 330px;
  max-width: 330px;
  gap: 36px;
  margin-top: 40px;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_number span {
  padding: 8px 9px;
  background: linear-gradient(131.39deg, #ebbe9d 13.55%, #dfab86 80.5%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_number input {
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #9d9db0;
  outline: none;
  border: none;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type button {
  background: linear-gradient(314.24deg, #c88c61 25.11%, #ebbe9c 88.64%);
  border: 1px solid #ebbe9c;
  box-shadow: inset 0px 0px 12px #e5b79a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 17px;
  border-radius: 9px;
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 43px 57px 38px 54px;
  cursor: pointer;
  margin-top: 17px;
  transition: all 0.4s;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type button span svg path fil {
  transition: all 0.4s;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type button:hover {
  background: transparent;
  color: #e5b79a;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type button:hover span svg path {
  fill: #e5b79a;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_ok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_ok input {
  background: #ecd4c1;
  border-radius: 2px;
  cursor: pointer;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_ok p {
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 20px;
  color: #c3c3c3;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:first-of-type .section_fifteen_item_child_ok p span {
  color: #e9bc99;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:last-of-type {
  filter: drop-shadow(0px 2px 128px rgba(232, 186, 151, 0.409924));
  width: 1478px;
  height: 912px;
  position: relative;
}
* .container main .section_fifteen .section_fifteen_item .section_fifteen_item_child:last-of-type img {
  position: absolute;
  top: 0;
  left: -180px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* .container footer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 149px;
  align-items: center;
  padding-top: 122px;
  padding-bottom: 92px;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child:first-of-type {
  width: 170px;
  height: 54px;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child:first-of-type img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child:last-of-type {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child:last-of-type span {
  background: linear-gradient(138.29deg, #f8e6e2 19.16%, #e9c9c2 81.84%);
  box-shadow: 0px 2px 4px #f0d8d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 65px;
  max-width: 65px;
  height: 65px;
  max-height: 65px;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child .number {
  margin-left: 28px;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child .number input {
  font-family: "TTNorms";
  font-size: 27px;
  line-height: 26px;
  color: #34343f;
  outline: none;
  border: none;
}
* .container footer .footer_item:nth-of-type(1) .footer_item_child .number h6 {
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 26px;
  color: #ce946b;
  display: flex;
  align-items: center;
  margin-top: 4px;
}
* .container footer .footer_item:nth-of-type(2) ul li {
  list-style-type: none;
}
* .container footer .footer_item:nth-of-type(2) ul li a {
  text-decoration: none;
  font-family: "TTNorms";
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #34343f;
}
* .container footer .footer_item:nth-of-type(3) ul li {
  list-style-type: none;
}
* .container footer .footer_item:nth-of-type(3) ul li a {
  text-decoration: none;
  font-family: "TTNorms";
  font-size: 16px;
  line-height: 40px;
  text-transform: uppercase;
  color: #34343f;
}
* .container .footer_politika {
  width: 100%;
  padding: 11px 0;
  position: relative;
}
* .container .footer_politika::before {
  content: "";
  background: linear-gradient(320.53deg, #ffffff 42.41%, #fbfbfb 64.41%, #f5f7f7 80.73%, #dfe3e5 106.48%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  width: 100%;
  height: 1.5px;
  top: 0;
  left: 0;
}
* .container .footer_politika h5 {
  font-family: "TTNorms";
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  color: #a5a5b3;
}
@media screen and (min-width: 1920px) {
  * .container {
    width: 1920px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */